



#container {
    border: 5px solid black;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}

#input {
    width: 100px;
    margin: 25px auto;

}

#btn {
    margin: 25px auto auto 5px;
}